body {
        padding-top: 70px;
}
.shadow-box {
        padding: 5px 5px;
        margin: 10px 0;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
        transition: box-shadow 0.2s;
}
.shadow-box:hover {
        box-shadow: 5px 5px 15px #009688;
        transition: box-shadow 0.2s;
}

.drag-over-shadow-box {
        box-shadow: 5px 5px 15px #009688;
}
.animated.fadeIn {
        -webkit-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
}
.thumb {
        overflow: hidden;
}
.thumb img {
        margin: -10% 0;
        width: 100%;
}
.responsive-background {
        background-size: cover;
        height: 120px;
}
.playlist-thumb {
        background-size: cover;
        height: 350px;
}
@media (min-width:991px) and (max-width: 1199px) {
        .responsive-background {
                height: 90px;
        }
        .playlist-thumb {
                height: 300px;
        }
}
@media (min-width: 768px) and (max-width: 990px) {
        .responsive-background {
                height: 80px;
        }
        .responsive-carousel-thumb {
                height: 50px;
                width: 60px;
        }
}

@media (min-width:576px) and (max-width: 767px) {
        .responsive-background {
                height: 240px;
        }
        .playlist-thumb {
                height: 225px;
        }
}
@media (min-width:380px) and (max-width: 575px) {
        .responsive-carousel-thumb {
                height: 50px;
                width: 100px;
        }
        .playlist-thumb {
                height: 375px;
        }
}
div.row.display-flex div.col-lg-4.col-md-6.col-sm-6 div.card{
        margin-bottom: 5px;
        margin-top: 5px;
}
#demo-card > div > div {
        padding-top: 5px;
        padding-bottom: 5px;
}
.padding-thumb {
        margin-top: 5px;
        margin-bottom: 5px;
}
.limit-char-p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}